# Python
__pycache__/
*.py[cod]
*.so
.Python
*.log
venv/
env/

# Проект
chumei.log
memory.json
user_name.txt
voice_sample.npy
models/*.gguf
tmp_speechbrain/

# Видео (если большие)
assets/video/*.mp4
assets/video/*.avi

# Сборки
build/
dist/
*.spec
*.exe

# IDE
.vscode/
.idea/